@{
    ViewData["Title"] = "Home";
}

<div>
<h1>Leitner Study Project</h1>
</div>

<div class="jumbotron">
    <h4><a href="https://en.wikipedia.org/wiki/Leitner_system"> The Leitner System </a></h4>
    <p>
        The Leitner system is a method of efficiently using flashcards that sorts the cards into various groups according to how well the student knows each
        concept that is portrayed on the card
    </p>
    <p>
        The cards are divided into multiple levels, and each level requires a card to be reviewed with a differing frequency. This way, the concepts
        that are known best to the student will not be reviewed as often as the concepts which a student does not yet know.
    </p>
    <p>
        The purpose of the Leinter System of index card study is to utilize the brain's most efficent way of learning that does not fall onto short term
        memorization, but rather study at longer, irregular intervals, which studies have shown allows for more information being maintained for longer periods.
    </p>
</div>


